.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0px; 
    left: 0px;
    background-color: #2F3036;
    border-right: 0.4px solid #202125;
}

.sidenav hr {
    position: absolute;
    width: 100%;
    top: 42px;
    border: 0.2px solid #202125;
}

.sidenav ul {
    position: fixed;
    top: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding: 18px 15px 18px 18px;
    overflow-y: scroll;
    height: 86%;
}
  
.sidenav ul li {
    padding: 15px 10px 15px 10px;
    font-size: 16px;
    color: white;
    display: block;
    border-radius: 4px;
    width: 190px;
    margin-top: 2px;
    margin-bottom: 2px;
    user-select: none;
}

.sidenav ul li:hover {
    cursor: pointer;
    background: #34353C;
}
 
.sidenav ul .active {
    background: #7400F5;
}

.sidenav ul .active:hover {
    background: #7200f549;
}


@media only screen and (max-width: 756px) {
    
    .sidenav {
        display: none;
    }
    
}